<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todoList</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <header><span id="title">DO WHAT YOU LOVE</span></header>

    <div id="main">
        <div class="plan">
            <input v-model="todoname" required="" type="text" name="text" class="input" @keyup.enter="add">
            <label class="label">FOLLOW YOUR HEART</label>
        </div>
        <div class="list">
            <ul>
                <li v-for="(item,index) in list">{{index+1}}. {{item.thing}}
                    <span id="del" @click="del(item.id)">X</span>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="./vue.js"></script>
<script src="./index.js"></script>

</html>